body {
	background-color: #343632;
}

#navlogo {
	width: 35px;
	margin: 20px;
}

nav.navbar {
	background: transparent;
	border: 0;
}

button.cta {
	width: 150px;
	height: 40px;
	margin-top: 20px;
	margin-right: 20px;
	background: #487;
	border: 0px solid #763;
	border-radius: 4px;
}

#biglogo {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	width: 200px;
}

h1 {
	font-family: 'Pacifico', cursive;
	color: white;
	font-weight: 800;
	font-size: 3em;
	text-align: center;
	margin-bottom: 50px;
}

#subgap {
	margin-left: 8px;
	margin-right: 8px;
}

p {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: .8em;
	color: #f4f4f4;
	margin-top: -55px;
	margin-bottom: 20px;
}

#browser {
	display: block;
	margin: 0 auto;
	width: 900px;
	margin-bottom: 60px;
}

#how-section {
	background: #BCC2C2;
}

img#howto {
	display: block;
	margin: 0px auto;
	padding: 50px;
	width: 1100px;
}







